<header>
  <app-navbar></app-navbar>
</header>
<!--TODO: come funzionano i radio button?-->

<div class="card">
<nav class="navbar navbar-light bg-light">
  <div class="container-fluid">
    <div class="m-3" #radioButtons>
      Mostra:
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="allUsersRadio" (click)="changeList('allUsersRadio')" value="All" checked>
        <label class="form-check-label" for="allUsersRadio" >Tutti</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="inlineRadioOptions"  id="bannedUsersRadio" (click)="changeList('bannedUsersRadio')" value="Banned">
        <label class="form-check-label" for="bannedUsersRadio">Utenti bloccati</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="notBannedUsersRadio" (click)="changeList('notBannedUsersRadio')" value="NotBanned">
        <label class="form-check-label" for="notBannedUsersRadio">Utenti non bloccati</label>
      </div>
    </div>
    <form class="d-flex" (ngSubmit)="searchUser(userToSearch.value)">
      <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" #userToSearch>
      <button class="btn btn-outline-success" type="submit">Search</button>
    </form>
  </div>
</nav>
</div>

<!--  <nav class="navbar navbar-light bg-light">-->
<!--    <div class="container-fluid">-->

<!--      <form class="d-flex position-absolute">-->
<!--        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">-->
<!--        <button class="btn btn-outline-success" type="submit">Search</button>-->
<!--      </form>-->
<!--    </div>-->
<!--  </nav>-->




<div class="card-group m-3" #userDiv>
  <div *ngFor="let item of showingUserList; let myindex = index" class="m-4">
    <div class="card">
      <div class="card-body" >
        <h5 class="card-title">{{item.name}} {{item.surname}}</h5>
        <ul>
          <li>Email:</li>
          <li>Tipo:</li>
          <li>Posizione occupata:</li>
        </ul>
        <button *ngIf="item.banned" type="button" class="btn btn-success m-2" (click)="banUnban(item)">Sblocca</button>
        <button *ngIf="!item.banned" type="button" class="btn btn-danger m-2" (click)="banUnban(item)">Blocca</button>
      </div>
    </div>
  </div>
</div>
