<!--

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">MyLinkedin</a>

    &lt;!&ndash;    BOTTONE PER SCHERMI TROPPO PICCOLI    &ndash;&gt;
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">

      <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>-->


<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">

        <li class="nav-item">
          <a  class="nav-link active fw-bold" (click)="goTo('/admin/registrationRequest')"
             [ngClass]="{'active fw-bold': (selected == '0')}">Richieste di registrazione</a>
        </li>

        <li  class="nav-item">
          <a  class="nav-link" [ngClass]="{'active fw-bold': (selected == '1')}" (click)="goTo('/admin/banUser')">Ban utenti</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" [ngClass]="{'active fw-bold': (selected == '2')}">Gestione post</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" [ngClass]="{'active fw-bold': (selected == '3')}">Gestione strutture</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" [ngClass]="{'active fw-bold': (selected == '4')}" (click)="goTo('/admin/manageAttribute')"   >Gestione attributi</a>
        </li>



      </ul>
    </div>
  </div>
</nav>

