<nav class="navbar navbar-light bg-light">
  <div class="container-fluid">
    <span class="navbar-brand mb-0 h1">MyLinkedin</span>
  </div>
</nav>

<div class="card mx-auto m-5" style="width: 30rem;">

  <div class="alert alert-danger" role="alert" *ngIf="credErr">
    Email o password errata. Riprovare.
  </div>

  <div class="alert alert-danger" role="alert" *ngIf="logErr">
    Solo gli amministratori sono autorizzati all'accesso.
  </div>

  <div class="card-body">
    <form (ngSubmit)="onSubmit()">

      <!-- EMAIL -->

      <div class="mb-3">
        <label for="email" class="form-label">Email</label>
        <input type="email" class="form-control" id="email" aria-describedby="emailHelp"
        [(ngModel)]="admin.email"
        name="email">
      </div>

      <!-- PASSWORD -->

      <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <input type="password" class="form-control" id="password"
        [(ngModel)]="admin.password"
        name="password"
        required>
      </div>

      <!-- SUBMIT BUTTON -->

      <button type="submit" class="btn btn-primary" [disabled]="!admin.email || !admin.password">Log in</button>
    </form>

    <div class="dropdown-divider"></div>
    <a class="dropdown-item" href="#">Iscriviti</a>
  </div>

</div>
